// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #EF1D26;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #181616;
$dark-page : #121212;
$grey      : #505050;
$grey-1    : #464646;
$grey-2    : #848484;
$grey-3    : #373737;
$grey-4    : #353535;
$white     : #FFFFFF;
$purple    : #7484F3;
$pink      : #FA5673;
$grey-10   : #DBDBDB;

$positive  : #1DD704;
$negative  : #B90505;
$info      : #31CCEC;
$warning   : #FEC000;
